<div>Bonjour {{ player.firstName }} {{ player.name }}, ceci est un hello world, le projet démarre et se met à jour</div>

<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <label>name:
    <input formControlName="name" placeholder="Nom du joueur">
  </label>
  <label>name:
    <input formControlName="firstName" placeholder="Prénom du joueur">
  </label>
  <button type="button" (click)="onCancel()">Cancel</button>
  <button type="submit">Save</button>
</form>

<div> Résultat en json
  <div> {{ playerForm.value | json }} </div>
</div>
